[submodule "zsh/.zsh/plugins/p10k"]
	path = zsh/.zsh/plugins/p10k
  url = https://github.com/romkatv/powerlevel10k.git
  shallow = true
[submodule "zsh/.zsh/plugins/fzf-tab"]
	path = zsh/.zsh/plugins/fzf-tab
  url = https://github.com/Aloxaf/fzf-tab
  shallow = true
[submodule "zsh/.zsh/plugins/zsh-autosuggestions"]
	path = zsh/.zsh/plugins/zsh-autosuggestions
  url = https://github.com/zsh-users/zsh-autosuggestions.git
  shallow = true
[submodule "zsh/.zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/.zsh/plugins/zsh-syntax-highlighting
  url = https://github.com/zsh-users/zsh-syntax-highlighting.git
  shallow = true
